* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif, Arial, Helvetica;
    font-size: 1rem;
    /*16px */
}

main {
    width: 85%;
    margin: 0 auto;
}

.box {
    margin-top: 1rem;
}

footer {
    width: 100%;
    background-color: #457373;
}

/* Arrange the 4 ICONS in a row */
.icons {
    display: flex;
    /*aligns the flexible container's items 
        Items are positioned in the center of the container */
    justify-content: center;
    /*align the items vertically. 
        Items are positioned at the end of the container */
    align-items: flex-end;
    margin-top: 3%;

}

/* set all block in the icon class */
.icons .block {
    margin: 1.5rem;

}

/* set copyright position */
.copyright {
    padding-top: 3%;
    display: flex;
    justify-content: center;
    font-size: 1.125rem;
    /*18px*/
}

button {
    font-size: 1.125rem;

}

.btn {
    background-color: #222;
    width: fit-content;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.btn a {
    padding: 1rem 0.5rem 1rem 1rem;
    text-align: center;
    text-decoration: none;
    line-height: 3rem;
    color: white;
}

.btn i {
    margin-left: 15px;

}

h1 {
    padding: 1rem;
    font-weight: bold;
    font-size: 2em;
}

h2 {
    padding: 1rem;
    font-size: 1.5em;
    color: #222;
    font-weight: bold;
}

p {
    padding: 1rem;
}