.box-1 {
    width: 100%;
    border-radius: 0.7rem;
}

.name {
    color: #457373;
    text-align: center;
}

.animate {

    text-align: center;
    font-size: 2rem;

}

.animate span {
    display: inline-block;
}

.box-t span {
    color: #fff;
    opacity: 0;
    transform: translate(-50px, 0) scale(.5);
    animation: leftRight 5s forwards infinite;
}

@keyframes leftRight {
    40% {
        transform: translate(1rem, 0) scale(.7);
        opacity: 1;
        color: #000;
    }

    60% {
        color: rgb(255, 255, 255);
    }

    80% {
        transform: translate(0) scale(1.1);
        opacity: 0;
    }
}

h2 {
    text-align: left;
    margin-left: 5%;
}

main img {
    border-radius: 2rem;
    margin: 1rem;

}

.a,
.b {
    width: 100%;
}


/****************************************************************************/
/*******************Tablet Styling******************************************/
/****************************************************************************/

/* Set the flat screen size of tablet */
@media only screen and (min-width: 768px) {

    h2 {
        text-align: center;
    }

    .box-2,
    .box-3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .box-2 .a:nth-child(1),
    .box-3 .b:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .box-2 .a:nth-child(2),
    .box-3 .b:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }



    .box-4 {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .box-4 .c:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
    }

    .box-4 .c:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .box-4 .c:nth-child(3) {
        grid-column: 1/2;
        grid-row: 2/3;
    }

}

/****************************************************************************/
/*******************Desktop Styling******************************************/
/****************************************************************************/

/* Set the flat screen size of Desktop */
@media only screen and (min-width: 1280px) {
    .box-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .box-2 .a:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .box-2 .a:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .box-3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .box-3 .b:nth-child(1) {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .box-3 .b:nth-child(2) {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .box-4 {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .box-4 .c:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .box-4 .c:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .box-4 .c:nth-child(3) {
        grid-column: 3/4;
        grid-row: 1/2;
    }


}