  .project {
      background-color: #457373;
      margin-bottom: 3rem;
      height: auto;
  }

 

  img {
      width: 100%;
      height: auto;
  }

  /****************************************************************************/
  /*******************Tablet Styling******************************************/
  /****************************************************************************/

  /* Set the flat screen size of tablet */
  @media only screen and (min-width: 768px) {

      /* ******set grid mode for protfolio page*********** */
      .p-container {
          margin: 0 auto;
          display: grid;
          grid-gap: 3rem;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(3, 1fr);
          grid-template-areas:
              "one one two two"
              "three three four four"
              "five five six six"
          ;
      }

      /* ******set project child name************ */

      .p-container .project:nth-child(1) {
          grid-area: one;
      }

      .p-container .project:nth-child(2) {
          grid-area: two;
      }

      .p-container .project:nth-child(3) {
          grid-area: three;
      }

      .p-container .project:nth-child(4) {
          grid-area: four;
      }

      .p-container .project:nth-child(5) {
          grid-area: five;
      }

      .p-container .project:nth-child(6) {
          grid-area: six;
      }

  }

  /****************************************************************************/
  /*******************Desktop Styling******************************************/
  /****************************************************************************/

  /* Set the flat screen size of Desktop */
  @media only screen and (min-width: 1280px) {


      .p-container {
          margin: 0 auto;
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-template-areas:
              "one one two two three three"
              "four four five five six six"
          ;
      }

      /* ******set project child name************ */

      .p-container .project:nth-child(1) {
          grid-area: one;
      }

      .p-container .project:nth-child(2) {
          grid-area: two;
      }

      .p-container .project:nth-child(3) {
          grid-area: three;
      }

      .p-container .project:nth-child(4) {
          grid-area: four;
      }

      .p-container .project:nth-child(5) {
          grid-area: five;
      }

      .p-container .project:nth-child(6) {
          grid-area: six;
      }

  }