/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
div,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
div {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************************************************************/
/*************************** Customers style *******************************/
/****************************************************************************/


/*Mobile Styling*/
    /* For mobile phones: */
.container{
    width: 100%;
	/* Center Container */
	margin: 0 auto;
}

/* Use the 'Open Sans' Google font for the webpage */
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body{
    margin: 0.5rem;
    }
    

header{
    height: auto;
    background-color: #222;
    /* background-color: #c78c06 url("../images/logo.png") no-repeat center; */
}

.f-logo{
    background-color: #c78c06;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    
}


.clearfix:after{
    content:"";
    display: table;
    clear: both;
}

ul {
    font-family: "Open Sans";
    list-style-type: none;
    margin: 0;
    padding-right: 2%;
    width: 100%;
}
 
li i{
    color: #c78c06;
    border: 1px #c78c06 solid;
    padding: 0.5rem 1.1rem 0.5rem 1.1rem;
}

li a {
    display: block;
    color:  #c78c06;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}
 
li a:hover {
    background-color: #c78c06;
    color:  #222;
    margin-left: 1rem;
    margin-right: 1rem;
}

/*search bar  */
 .search-container {
    width: 100%;
    display:flex;
    
  }
  
  .f-topnav .search-container input{
    width: 80%;
    height:fit-content;
    padding-top:5px;
    padding-right: 6px;
    padding-bottom: 6px;
    margin-top: 0.1rem;
    margin-left: 1.5%;
    /* margin-bottom: 1rem; */
    font-size: 17px;
    border: 1px white;
  }
 
  
  .f-topnav .search-container button{
    background: #222;
    width: 10%;
    margin-left: 0rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-size: 17px;
    border: 1px #c78c06;
    /* cursor: pointer; */
  }

  


  /* *************************************************************** */
.f-home{
    background: url(../images/main-banner.jpg) no-repeat center center;
    background-size:cover;
    height: 500px;
}


.homepage{
    background-color: rgba(0, 0, 0, 0.507);
    width: 100%;
    margin-top: 0;
    margin-bottom: 20%;
}


h1{
    font-family: "Open Sans";
   padding-top: 10%; 
   padding-left: 1.5%;
   font-size: 4em; 
   color:white;
   font-weight: bold;
}

.f-homep{
    font-family: "Open Sans";
    color:white;
    /* top right bottom left */
	padding: 1rem 1rem 1rem 1rem;
}

.homebutton{
    width:fit-content;
    background-color:#c78c06;
    margin-left: 1rem;
    margin-bottom: 1rem;
    line-height: 3rem;
}
.homebutton i{
    margin-left: 15px;
    margin-bottom: 1rem;
}

.homebutton a {
    
	/* top right bottom left */
	padding: 1rem 1rem 1rem 1.5rem;
    margin-bottom: 1rem;
	width:fit-content;
	text-align: center;
    text-decoration: none;
    color: #222;
}

.f-aboutus{
    width: 100%;
    background-color: #ffe6ac;
}

.f-sboutusimg{
    width: 96%;
    margin-top: 0.5rem;
    margin-left: 2%;
    
}

h2{
   padding-top: 1.5rem; 
   padding-left: 0.5rem;
   padding-bottom: 1.5rem;
   font-size: 2.6em; 
   color:#222;
   font-weight: bold; 
}

.f-aboutusp,
.f-aboutusp2{
    color:#222;
    padding-left: 0.5rem;
    padding-bottom: 1.5rem;
}

/* *********************set our sevice******************************** */
    .service{
    background-color:  #ffe6ac;
    margin-bottom: 1rem;
    height:fit-content;
}

.team{
    background-color:  #ffe6ac;
    /* margin-bottom: 1rem; */
    height:auto;
}

.team:nth-child(3){
    margin-top: 1rem;
}

/* set img width by 100% */
.f-digitalimg,
.f-marketingimg,
.f-videoimg,
.f-webimg,
.f-printimg,
.f-johnimg,
.f-bobimg,
.mapimg{
    width: 100%;
}

h3{
    padding-top:1rem; 
    padding-left: 0.5rem;
    padding-bottom: 0.8rem;
    font-size: 1.5em; 
    color:#222;
    font-weight: bold; 
}

/* set size for P */
.digital,
.marketing,
.video,
.web,
.print,
.john,
.bob
{
    padding-left: 0.5rem;
    padding-bottom: 1.5rem; 
}

.servicebutton{
    background-color:#222;
    width:fit-content;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
}
.servicebutton a{
    
	
	padding: 1rem 0.5rem 1rem 1rem;
    
	text-align: center;
    text-decoration: none;
    line-height: 3rem;
    color:white;
}

.servicebutton i{
    margin-left: 15px;
   
}

/* ********************our vision part setting*********************************** */
.f-vision{
    background: url(../images/vision.jpg) no-repeat center center;
    background-size:cover;
}
.vision-title{
    color: white;
}
.f-visionp{
    color: white;
    padding-left: 0.5rem;
    padding-bottom: 1.5rem; 
}


.f-learnmorebutton{
    margin-bottom: 2rem;
    margin-left: 0.5rem;
}

.f-learnmorebutton i{
    margin-left: 15px;
    margin-bottom: 2rem;
}
.f-learnmorebutton a{
    background-color:#222;
	/* top right bottom left */
	padding: 1rem 1rem 1rem 1rem;
    margin-bottom: 2rem;
	width:fit-content;
	text-align: center;
    text-decoration: none;
    line-height: 3rem;
    color:white;
    border: 1px #c78c06 solid;
}

/* ********************************************************* */
h4{
    color:#222;
    font-weight: bold; 
    padding-left: 0.5rem;
}

.fullname,
.youremail,
.message {
	/* margin-left: 0.5rem; */
	display: block;
	padding: 0.5rem 0.5rem;
}

/***************************set text area size***************************/
.textarea {
	height: 150px;
	display: block;
	width: 100%;
}

/***************************set name and email input size*******************/
.nameinput,
.emailinput {
	display: block;
	width: 100%;
	height: 30px;
}

/***************************set conntect us from**************************/
.f-contactform {
	border-style: solid;
    /* top right bottom left */
	padding: 1rem 0.5rem 0.5rem 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/***************************set send button*****************************/
.sendbutton {
	background:#222;
	font-size: 1.2em;
    padding: 0.3rem;
	width:fit-content;
	text-align: center;
    text-decoration: none;
    margin-left: 0.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/***************************send button color****************************************/
.send{
    color:#c78c06;
}

/*************************** set hours talbe position*******************************/
.us:nth-child(2){
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


/* *************************location map setting********************************* */
.us:nth-child(3){
   width: 100%;
}

table, td, th {
    border: 1px solid #222;
    /* top right bottom left */
	padding: 1rem 0.5rem 0.5rem 0.5rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th{
      background: #ffe6ac;
  }

  /* set footer */
  footer{
    background-color: #222;  
    width: 100%;
    margin-top: 1rem;
    color: #c78c06;
    /* top right bottom left */
	padding: 1rem 1rem 0.5rem 0.5rem;
  }
 .footer1,
 .footer2{
    padding: 1rem 1rem 0.5rem 0.5rem;
 }
    

/****************************************************************************/
/*******************Desktop Styling******************************************/
/****************************************************************************/

@media only screen and (min-width: 768px) {
    /* For desktop: */

    /* ***************set max width************************** */
    body{
        max-width: 1200px;
    }

    /* **************************************set nav***************************/
    /* ************************************************************************/
    .f-topnav {
         overflow: hidden;
        background-color: #222;
      }
      
      .f-topnav a {
        float: left;
        display: block;
        color: #c78c06;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .f-topnav a:hover {
        background-color: #c78c06;
        color: #222;
      }
    
      .f-topnav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
      }
      
      /*******************set search boutton**********************/
      /* .f-topnav .f-search-container {
        float: right;
      } */
      .f-topnav .f-search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
      }
      
      .f-topnav .f-search-container button:hover {
        background: #ccc;
      }

/* **************************************set welcome page ***********************/
/* ******************************************************************************/
      .f-home{
        background: url(../images/main-banner.jpg) no-repeat center center;
        background-size: cover;
      }

      .f-aboutus{
        width: 100%;
        height: auto;
        background-color: #ffe6ac;
        margin: 0 auto;
      }

      .aboutpage{
          width: 90%;
          margin: 0 auto;
          margin-bottom: 1rem;
          display: flex;
          flex-wrap: wrap;
          height: auto;
      }

      .aboutpage .about:nth-child(1){
        flex-basis: 45%;
        height:auto;
        
    }
    .aboutpage .about:nth-child(2){
        flex-basis: 45%;
        height: auto;
    }
    .f-aboutusp p{
        padding-top: 0rem;
        padding-bottom: 3px;
    }

    .f-logo{
        width:auto;
        display:initial;
        
        margin:1rem;
    }

    
      
/* **************************************set our service page********************/
/* ******************************************************************************/

    /* h2 header margin */
    .ser{
        margin-left: 5%;
    }

    .service{
        margin: 1rem;
    }

    /* ******set grid mode for our service page*********** */
    .serveicespage{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas:
        "one one one two two two"
        "three three four four five five"
         ;
    }

    /* ******set our service child name************ */

    .serveicespage .service:nth-child(1){
        grid-area: one;
    }
    .serveicespage .service:nth-child(2){
        grid-area: two;
    }
    .serveicespage .service:nth-child(3){
        grid-area: three;
    }
    .serveicespage .service:nth-child(4){
        grid-area: four;
    }
    .serveicespage .service:nth-child(5){
        grid-area: five;
    }

    .servicebutton{
        background-color:#222;
        width:90%;
        margin: right 5px;
    }

    .servicebutton a i{
        /* top right bottom left */
        text-align: center;
        text-decoration: none;
        color:white;
    }


/* **************************************set our team page***********************/
/* ******************************************************************************/
    .f-team{
        width: 90%;
        margin: 0 auto;
    }

    .team{
        margin: 0;
    }

    /* fix mobile page top margin */
    .team:nth-child(3){
        margin-top: 0%;
    }

    .teampage{
        display: flex;
        flex-wrap: wrap;
    }

    .teampage .team:nth-child(1),
    .teampage .team:nth-child(2){
        flex-basis: 50%;
        height:auto;
    }
    .teampage .team:nth-child(3){
        flex-basis: 50%;
        height:auto;
        order: 1;
    }
    .teampage .team:nth-child(4){
        flex-basis: 50%;
        height:auto;
        order: 0;
    }


/* **************************************set connect us page***********************/
/* ******************************************************************************/
    .f-connectus{
        width: 90%;
        margin: 0 auto;
    }
    
    .connectuspage{
        display: flex;
        flex-wrap: wrap;
    }

    .connectuspage .us:nth-child(1){
        flex-basis: 50%;
        height:auto;
    }
    .connectuspage .us:nth-child(2){
        flex-basis: 100%;
        height:auto;
        order: 1;
    }
    .connectuspage .us:nth-child(3){
        margin-top: 1.5rem;
        flex-basis: 50%;
        height:auto;
        order: 0;
    }
}