body{
    color:darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/white_brick_wall.png);

    /* background-repeat: no-repeat;
    background: position 100px 200px; */
}

h1{
    color: white;
    
}

/* Specificity: 0001*/
p{
    background-color: lightblue;
}

/*Selecting multiple elements to apply same styles*/
h1,
h2,
h3,
h4{
    text-decoration: underline;
}

/* Specificity: 0002*/
nav ul {
list-style: none;
}

nav ul a{
    color: darkslategray;
    text-decoration: none;
    }

/* class name seletor */
/* Specificity: 0010*/
.orange-link{
    background-color: darkslategray;
    color: orange;
    text-decoration: none;
}

/* id selector */
/* Specificity: 0100*/
#treatofweek{
/* background-color: orange; */
/* color image repeat */
background: darkslategray url("../images/bread.jpg") no-repeat center 
center;
background-size: cover;
color:#fff;
font-size: 24px;
padding: 20px;

}

/* overwriting the background color for nth-child list items */
#treatofweek dl ul li:nth-child(n){
    background-color: transparent;
}

/* Avoid using id for stying, use classes mostly */
.large-text{
    font-size: 20px;
}

/* Childn selector or Direct child selector */
article>p {
    /* Typography Properties */
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: lowercase;
    text-align: center;
    /* word-spacing: 2px; */
    letter-spacing: 2px;
    font-style: italic;
}

/* Adiacent sibling selector */
h3+ul {
    /* thinkness style color */
    border: 1px solid black;
}

a[herf="#treatofweek"]{
    font-weight: bold;
}

[title*="Execute"]{
    background-color: yellow;
}

/* 
 Using Pseudo Classes Style Navigation 
*/

/* Love hate*/
nav ul a,
nav ul a:link,
nav ul a:visited{
    background-color: orange;
    /* horizontal vertical blur spread color */
    box-shadow: -2px 2px 4px 2px black;
}

nav ul a:hover,
nav ul a:focus{
    text-decoration: underline;
}

nav ul a:active{
    /* horizontal vertical blur spread color */
    box-shadow: 0 0 4px 2px black;
}

/* Position related Pasudo class selectors */
aside ul li:first-child {
    font-weight: bold;
}

section ol li:last-child {
    font-weight: bold;
}

/* dl ul li:nth-child(5){
    background-color: white;
} */

/* dl ul li:nth-child(even){
    background-color: white;
} */
dl ul li:nth-child(2n+1){
    background-color: white;
}

/* CSS Specificity */

/* Specificity 0002 */
body footer{
    background-color: rgb(0, 0, 0);
}

