/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
div,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
div {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/****************************************************************************/
/*************************** Customers style *******************************/
/****************************************************************************/


@font-face {
    font-family: Montserrat-Black;
    src: url('fonts/Montserrat-Black.ttf');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Light;
    src: url('fonts/Montserrat-Light.ttf');
}

/*Mobile Styling*/
/* For mobile phones: */

/* Use the 'Montserrat-Light' font for the webpage */
html {
    font-family: Montserrat-Regular;
    font-size: 16px;  
}

.header {
    background-color: #F7F7FF;
    height: auto;

}

body {
    width: 100%;
    font-family: Montserrat-Regular;
    margin: 0 auto;
    background-color: #F7F7FF;
}

h1,
h2,
h4 {
    font-family: Montserrat-Black;
    font: bold;
}

h1 {
    font-size: 60px;
    display: inline-flex;
    margin: 0.5rem;
}

h2 {
    font-size: 40px;
    margin-left: auto;
    padding: 10px;
}

h3 {
    font-family: Montserrat-Regular;
    margin-left: auto;
    padding: 10px;
}

.logo {
    width: 25%;
    height: auto;
    float: left;
    margin-left: 10%;
    
}

.box p {
    font-family: Montserrat-Regular;
    font-size: 24px;
    margin: 0.5rem;
}

.box-1{
    width: 80%;
}

.box-2{
    width: 80%;
}

.box,
.scooter{
    margin: 0 auto;
}

.cf {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background: #FFFF;
    box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
    -webkit-box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
    border-radius: 11px;
    -webkit-border-radius: 11px;
}

.cf p {
    font-size: 14px;
    display: inline;
    margin-left: 0.2rem;
   
}


.cf a {
    font-size: 14px;
    color: red;
    text-decoration: none;
    box-shadow: none;
    background: none;
    padding: 0;
}

button{
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 11px;
}

.drive {
    background-color: #57EEAB; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: none;
}

 .calculate {
    width: 90%;
    background-color: #FF8480;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    color: white;
}

.hour,
.city{
   width: 85%;
   margin-left: 1.5rem;
   margin-right: 1.5rem;
   margin-bottom: 0.5rem;
}


li {
    list-style: none;
    padding: 5px;
}

input {
    background-color: #F4F4F5;
    padding: 10px;
    border: none;
    border-radius: 11px;
    margin-right: 1rem;
}

::placeholder {

    color: #9B9B9B;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #9B9B9B;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #9B9B9B;
}

/* .f-contactform {
    border-radius: 11px;
    margin-bottom: 1rem;
} */



.footer h4 {
    font-size: 18px;
    padding: 1.5rem;
}

.footer p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
}


.f-contactform .field-2 {
    display: flex;
    flex-wrap: wrap;
}

.field-2 .block:nth-child(1) {
    flex-basis: 25%;
}

.field-2 .block:nth-child(2) {
    flex-basis: 67%;
}

.field-2 .block:nth-child(3) {
    flex-basis: 97%;
}

.field-3 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5%;
}

.footer {
    width: 100%;
    background-color: #FFFD8C;
}






/****************************************************************************/
/*******************Tablet Styling******************************************/
/****************************************************************************/

@media only screen and (min-width: 768px) {
    /* For desktop: */

    /* ***************set max width************************** */
    body{
        max-width: 768px;
    }
}

/****************************************************************************/
/*******************Desktop Styling******************************************/
/****************************************************************************/

@media only screen and (min-width: 1280px) {
    /* For desktop: */
.footer{
    width: 100%;    
}


      


}