/* Keep the size of all boxes unaffected by the padding*/
* {
    box-sizing: border-box;
}

/* Set all font - all parts that have not been reset */
body {
    font-family: 'Roboto', sans-serif, Arial, Helvetica;
    font-size: 1rem;
    /*16px */
}

/* Sets the color, size of the header */
header {
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
}

/* set container - background color and prosition except for the banner */
.container {
    width: 100%;
    /* Center Container */
    margin: 0 auto;
    padding-top: 5%;
    padding-left: 8%;
    /*property to set 3% values the thickness of the padding area. */
    padding-bottom: 3%;
    background-color: #E5E6E7;
}

/* set logo img values the thickness of the margin area */
.logo {
    margin: 1rem;
    /*16px */
}

/* navgeation list attribute  */
li {
    width: 100%;
    font-size: 0.5rem;
    /*Remove the dots from the list*/
    list-style: none;
    margin: 0 auto;
    /* text in the center */
    text-align: center;
}

/* Setting navgetion link Styles */
a {
    width: 100%;
    /* There are no styles, such as removing underscores */
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    margin: 0 auto;
    font-weight: 700;
}

/*Styles when mouse stay over the link  */
a:hover {
    width: 100%;
    background-color: #C78174;
    padding: 0.5rem;
    margin: 3%;
    /* text color */
    color: #FFFFFF;
    /* change biger  */
    transform: scale(1.01);
    /* Rounded corners */
    border-radius: 0.688rem;
    /*Set the shadow color and Angle  */
    box-shadow: rgb(8, 8, 8) 0 0px 20px -1px;
}

.login {
    width: 100%;
    display: inline;
}

/* set all buttons stlye */
.btn {
    background-color: #804A40;
    color: #FFFFFF;
    width: max-content;
    height: auto;
    border: none;
    /* text center */
    text-align: center;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.625rem;
    /*26px*/
    font-weight: 500;
    border-radius: 0.688rem;
    margin: 0 auto;
}

/* banner style like color */
.banner {
    background-color: #C78174;
    width: 100%;
    height: auto;
    padding-bottom: 8%;
    margin-bottom: 0%;
}

/* banner image size and position */
.b-img {
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

/* h1 is using in banner and try new section */
h1 {
    font-family: 'Roboto', sans-serif, Arial, Helvetica;
    font-size: 2.5rem;
    /*40px*/
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}

/* banner p property */
.b p {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.625rem;
    /*26px*/
    font-weight: 500;
}

/* h2 is using in FEATURED and trynew */
h2 {
    font-size: 1.625rem;
    /*26px*/
    font-weight: 700;
    margin-left: 10%;
}

/* Set the animation trajectory */
@keyframes wave{
    from { transform: none; }
    /* change bigger */
    to { transform: scale(1.8); 
    }
  }

/* banner button-"order now" use the wave animation */
.b .btn{
  animation-name: wave;
  /*2s length of time that an animation takes to complete one cycle. */
  animation-duration: 2s;
  /* keep moving and never stop */
  animation-iteration-count: infinite;
}

.iteam {
    margin-bottom: 8%;
}

/* set for featured img - when mouse stay over the class i */
.i:hover{
    transform: scale(1.05);
    box-shadow: rgb(8, 8, 8) 0 0px 20px -1px;
}

/* set all product backgroud image */
.treats,
.b-cake,
.spooning,
.cone,
.sundae,
.cone2 {
    width: 90%;
    height: 90%;
    /*setting most background properties at the same place in the style sheet. */
    background: url(../images/small-bg.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 5%;
    border-radius: 1rem;
}

/* TRY OUR NEW PRODUCT image part */
.new1,
.new2 {
    width: 90%;
    background-color: #FFFFFF;
}

/* TRY OUR NEW PRODUCT text  block part */
.chocolate,
.yogurt {
    width: 90%;
    height: auto;
    background-color: #C78174;
    padding-top: 5%;
    padding-bottom: 8%;

}

/*TRY OUR NEW PRODUCT text style  */
.chocolate p,
.yogurt p {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.625rem;
    /*26px*/
    font-weight: 500;
}

/*Arrange the four TRY OUR NEW PRODUCT blocks in a column  */
.try {
    display: flex;
    flex-direction: column;
}

/* move the third one position up*/
.try .new:nth-child(3) {
    order: 3;

}


footer .container {
    background-color: #C78174;
    width: 100%;
    height: auto;
}

h3 {
    font-size: 1.625rem;
    /*26px*/
    font-weight: 500;
    margin-bottom: 0.5rem;
}

/* set input and buttons style  */
input,
.go,
.search {
    width: fit-content;
    font-size: 1rem;
    /*18px*/
    padding: 0.3rem;
    border-radius: 0.5rem;
    display: inline;
}
/* reset input width */
input {
    width: 85%;
}

.search {
    display: inline;
    padding: 0.5rem;
}

.go {
    margin-left: 0.5rem;
}

/* Arrange the 4 ICONS in a row */
.icons {
    display: flex;
    /*aligns the flexible container's items 
        Items are positioned in the center of the container */
    justify-content: flex-start;
    /*align the items vertically. 
        Items are positioned at the end of the container */
    align-items: flex-end;
    margin-top: 3%;

}

/* set all block in the icon class */
.icons .block {
    margin: 1.5rem;

}

/* set copyright position */
.copyright {
    display: flex;
    justify-content: center;
    font-size: 1.125rem;
    /*18px*/
}

/* nav class is the header bar */
.nav {
    width: 85%;
    margin: 0 auto;
    /* Displays an element as a block-level grid container */
    display: grid;
    /* Specifies the size(s) of the columns and rows, 6 is 6columns 1fr is size of each */
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* Aligns flex items along the cross axis of the current line of the flex container. 
        there we use center to center all elements*/
    align-items: center;
}

/*set first block size, first block is "logo image"  */
.nav .block:nth-child(1) {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 0%;
}

/* set second block size, second block is "search" */
.nav .block:nth-child(2) {
    width: 100%;
    grid-column: 4/7;
    grid-row: 1/2;
}

/* set last block size, last block is "link ilst" */
.nav .block:nth-child(3) {
    width: 100%;
    grid-column: 3/5;
    grid-row: 2/3;
    margin: 0 auto;
}

/****************************************************************************/
/*******************Tablet Styling******************************************/
/****************************************************************************/

/* Set the flat screen size of tablet */
@media only screen and (min-width: 768px) {

    li {
        width: 100%;
        list-style: none;
        margin-left: 10%;
        text-align: center;
        display: inline;
    }

    a {
        width: 100%;
        height: auto;
        text-decoration: none;
        display: inline;
        font-size: 1rem;
        font-weight: 700;
        color: black;
        margin: 0 auto;
    }

    a:hover {
        width: 100%;
        display: inline;
        background-color: #C78174;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0.3rem;
        /*5px*/
        color: #FFFFFF;
    }

    .nav {
        width: 85%;
        height: auto;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .nav .block:nth-child(1) {
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 0%;
    }

    .nav .block:nth-child(2) {
        width: 100%;
        grid-column: 10/13;
        grid-row: 1/2;
    }

    .nav .block:nth-child(3) {
        width: 100%;
        grid-column: 4/10;
        grid-row: 1/2;
    }

    .banner {
        display: grid;
        height: auto;
        margin: 0 auto;
        width: 100%;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 1fr);
        align-items: center;
        padding-bottom: 0%;
    }

    .banner .b:nth-child(1) {
        width: 100%;
        height: 90%;
        margin: 0 auto;
        grid-column: 2/5;
        grid-row: 2/6;
    }

    .banner .b:nth-child(2) {
        width: 100%;
        height: auto;
        grid-column: 5/8;
        grid-row: 2/5;
    }

    .banner .b:nth-child(3) {
        width: fit-content;
        height: auto;
        grid-column: 5/8;
        grid-row: 5/6;
    }

    .container {
        padding-left: 0%;
        width: 100%;
    }

    .featured {
        display: grid;
        height: auto;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        grid-gap: 0.6rem;
        margin-left: 3%;
        margin-right: 3%;
    }

    .featured .iteam:nth-child(1) {
        width: 100%;
        height: auto;
        margin: 0 auto;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .featured .iteam:nth-child(2) {
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-left: 0;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .featured .iteam:nth-child(3) {
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-left: 0;
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .featured .iteam:nth-child(4) {
        width: 100%;
        height: auto;
        margin: 0 auto;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .featured .iteam:nth-child(5) {
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-left: 0;
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .featured .iteam:nth-child(6) {
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-left: 0;
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .try {
        display: grid;
        height: auto;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        margin-left: 3%;
        margin-right: 3%;
    }

    .try .new:nth-child(1) {
        width: 100%;
        height: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .try .new:nth-child(2) {
        width: 100%;
        height: 100%;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .try .new:nth-child(3) {
        width: 100%;
        height: 100%;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .try .new:nth-child(4) {
        width: 100%;
        height: 100%;
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .f {
        width: 85%;
        display: grid;
        height: auto;
        margin: 0 auto;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(1, 1fr);
        align-items: center;
    }

    .f .fset:nth-child(1) {
        width: 100%;
        height: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .f .fset:nth-child(2) {
        width: 100%;
        height: 100%;
        grid-column: 5/7;
        grid-row: 1/2;
    }

    .icons {
        display: flex;
        justify-content: center;
    }

    /****************************************************************************/
    /*******************Desktop Styling******************************************/
    /****************************************************************************/

    /* Set the flat screen size of Desktop */
    @media only screen and (min-width: 1280px) {

        /* For desktop: */
        h1 {
            font-size: 3rem;
            /*48px*/
        }

        a {
            font-size: 1.5rem;
        }

        .banner {
            display: grid;
            height: auto;
            margin: 0 auto;
            width: 100%;
            grid-template-columns: repeat(9, 1fr);
            grid-template-rows: repeat(1, 1fr);
            align-items: center;
            padding-bottom: 0%;
        }

        .banner .b:nth-child(1) {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            grid-column: 1/5;
            grid-row: 1/2;
        }

        .banner .b:nth-child(2) {
            width: 100%;
            height: auto;
            grid-column: 5/8;
            grid-row: 1/2;
        }

        .banner .b:nth-child(3) {
            width: fit-content;
            height: auto;
            grid-column: 8/10;
            grid-row: 1/2;
        }

        .f {
            width: 85%;
            display: grid;
            height: auto;
            margin: 0 auto;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(1, 1fr);
            align-items: center;
        }

        .f .fset:nth-child(1) {
            width: 100%;
            height: 100%;
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .f .fset:nth-child(2) {
            width: 100%;
            height: 100%;
            grid-column: 3/5;
            grid-row: 1/2;
        }

        .icons {
            display: flex;
            justify-content: flex-end;
            margin-right: 8%;
            margin-left: 8%;
        }
    }

}